body {
  margin: 0;
}

.special-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.special-table th, .special-table td {
  border: 1px solid #e2e2e2;
  padding: 8px;
}

.special-table th {
  background-color: #f2f2f2;
  text-align: center;
  font-weight: bold;
}

.special-table td {
  text-align: center;
}

svg, img {
  display: block;
}

html, body {
  height: 100%;
}

#logo_light_mode {
    display: var(--md-footer-logo-light-mode);
}

#logo_dark_mode {
    display: var(--md-footer-logo-dark-mode);
}

[data-md-color-scheme="default"] {
    --md-footer-logo-dark-mode:         none;
    --md-footer-logo-light-mode:         block;
}

[data-md-color-scheme="slate"] {
    --md-footer-logo-dark-mode:         block;
    --md-footer-logo-light-mode:         none;
}


