*~
*.html
*.__pycache__
*.dll
*.o
*.sh
*.json
.vscode/*
Python
bin
py4pd.zip
DLLs/*
Lib/*
scripts/*
build

*.bat
*.eps
# Python Binaries
__pycache__
__pycache__/py.cpython-310.pyc

# PureData Binaries
*.pd_linux
*.m_amd64

# Files for test
*.tex
*.texi
*.analyzerinfo
*.snalyzerinfo
*.count
*.png
*.vscode

py-modules
./compile_commands.json
.cache/
compile_commands.json
py4pd.cfg
