*~
*.html
*.__pycache__
*.dll
*.o
*.sh
.vscode/*
Python
bin
py4pd.zip
DLLs/*
Lib/*
scripts/*
__pycache__
__pycache__/py.cpython-310.pyc
*.bat
*.eps
*.pd_linux
*.tex
*.texi
*.count
*.png
*.m_amd64
*.txt